<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Unit converter Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This assignment was part of AT00BY22-3003 Kehykset-course. The aim of the assignment was to make a working converter app
        using Angular. The source code was written in TypeScript and Angular Material libraries were used for the UI.
        The app was made by Tuomas Tervala.
      </p>
      
    </mat-card-content>

  </mat-card>